@tailwind base;
@tailwind components;
@tailwind utilities;

.epr-header {
  display: none;
}

.epr_-kg0voo {
  display: none !important;
}

.epr_-6dchwm {
  position: static !important;
}

.epr_-6npj90 {
  --epr-picker-border-color: white !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.1) !important;
}

.epr_-msa4qv {
  border: none !important;
}

.epr-emoji-category-label {
  font-size: 14px !important;
  color: #4b5563;
}

.shadow_box {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.emoji-reaction {
  --epr-emoji-size: 20;
}

/* ::-webkit-scrollbar {
  display: none;
}

-webkit-scrollbar {
  display: none;
} */
